<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Page 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section >
    <h4>Bienvenue sur la page 1</h4>
  </section>

  <h1 *ngIf="toShow">
    Je dois m'afficher
  </h1>

  <h1 *ngIf="!toShow">
    Je ne dois pas m'afficher
  </h1>

  <ion-button expand="full" [routerLink]="['/page1', 2]" routerDirection="forward">Push</ion-button>
  <ion-card *ngFor="let article of articles| slice:0:10" (click)="goToItemDetail(article.id)">
    <ion-card-header color="primary">
      <h3>{{article.title}}</h3>
    </ion-card-header>
    <ion-card-content>
      <p>{{article.body}}</p>
    </ion-card-content>
    <ion-button>
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </ion-card>


</ion-content>
