<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes items</ion-title>
    <ion-title slot="end">Connecté comme {{user}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-button (click)="deleteAll()" expand="full" color="danger">
      Tout supprimer
      <ion-icon name="trash"></ion-icon>
    </ion-button>

  <ion-card *ngFor="let article of articles| slice:0:10">
    <ion-card-header color="primary">
      <h3>{{article.title}}</h3>
    </ion-card-header>
    <ion-card-content>
      <p>{{article.body}}</p>
    </ion-card-content>
    <ion-button (click)="save(article.id)" *ngIf="!article.persiste">
      <ion-icon name="save"></ion-icon>
    </ion-button>
    <ion-button (click)="delete(article.id)" *ngIf="article.persiste" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    <ion-button (click)="goToItemDetail(article)">
        <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-card>


</ion-content>
